@import './reset.scss';
@import './reset.css';
body {
    .demo {
        color: red;
        background: url('../assets/result.png') no-repeat;
        width: 200px;
        height: 200px;
    }
    img {
        width: 300px;
        height: 300px;
        transform: scale(0.5);
    }
}